* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Root Start */
:root {
  --fontnavbar: rgb(233, 154, 19);
  --bgheadertop: black;
  --bgbody-font: white;
  --card: #e7e9eb;
  --color1: #88888b;
  --color2: #d6d6d6;
  --color3: #3c323b;
  --color4: #fff;
  --color-biru1: #528ea4;
  --color-biru2: #adcede;
  --color-biru3: #f7f3f7;
}

/* Root End */

/* body Start */
body {
  background-color: #f2ece6;
}

/* Body End */

/* Navbar Start */
.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  margin-left: 30px;
}
.navbar-collapse ul li {
  margin-right: 5px;
}
/* Navbar End */

/* Navbar Start */
.collapse {
  flex-grow: 0;
  font-size: 18px;
}
/* Navbar End */

/* About-Area Start*/
.about-area {
  padding: 120px 0;
}

.about-area .container .align {
  align-items: center;
}

.about-area .container .col-lg-6 img {
  max-width: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5);
}

.about-area .container .col-lg-6 .about-right {
  padding: 15px;
  line-height: 3em;
  font-family: "Open Sans";
}

.about-area .container .col-lg-6 .about-right .side-title {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 60px;
  font-family: "Great Vibes", cursive;
  font-weight: 700;
  margin-bottom: 1em;
}

.about-area .container .col-lg-6 .about-right .desc {
  font-size: 18px;
  font-weight: 500px;
}

/* About-Area End*/

/* jeep-area Start */
.jeep-area {
  background-color: #211f1f;
  padding: 15px;
}

.jeep-area .headline {
  text-align: center;
  margin-bottom: 25px;
}

.jeep-area .headline .title {
  font-weight: 600px;
  font-size: 40px;
  font-family: "Great Vibes", cursive;
  color: var(--bgbody-font);
}
.jeep-area .headline {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: var(--bgbody-font);
  text-align: center;
}

.jeep-area .card {
  padding: 15px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
  background-color: var(--bgbody-font);
  color: var(--bgheadertop);
}

.jeep-area .card ul li i {
  color: var(--bgheadertop);
}

.jeep-area .jeephead {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  line-height: 2em;
  color: var(--bgheadertop);
  font-weight: bolder;
}

.jeep-area .jeephead span {
  font-size: 18px;
}

.jeep-area .headline h2 {
  font-family: "Road Rage", sans-serif;
  font-size: 70px;
  color: #fff;
}

li {
  list-style: none;
}
.jeep-area .btn {
  background-color: var(--color-biru2);
  border-radius: 15px;
  padding: 10px;
  width: 60%;
}
.jeep-area .btn:hover {
  color: black;
}
/* jeep-area End */

/* Rent-Area Start */

.rent-area {
  background-color: #211f1f;
  padding-top: 25px;
}

.rent-area .container .col-lg-9 {
  background-image: linear-gradient(#090909b5, #0b0b0bd6),
    url(/asset/images/card1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: var(--bgbody-font);
  line-height: 2em;
  padding: 20px;
}
.rent-area .btn {
  background-color: var(--color-biru2);
  border-radius: 15px;
  padding: 10px;
  width: 30%;
}
.rent-area .btn:hover {
  color: black;
}

/* Rent-Area End */

/* Feature Area */
.feature-area {
  box-sizing: border-box;
  padding: 120px 0;
  background-color: #8cb9bd;
  background-image: linear-gradient(#090909b5, #0b0b0bd6),
    url(/asset/images/Mountains_\,.jpg);
  background-repeat: no-repeat;
  /* Ensure image is displayed only once */
  background-position: center;
  /* Center the image horizontally */
  background-size: cover;
}

.feature-icon img {
  height: 200px;
}

.feature-item {
  background-color: var(--bgbody-font);
  padding: 10px;
  border-radius: 10px;
}

.feature-area .feture-head {
  color: var(--bgbody-font);
}

.content-hr {
  color: var(--bgbody-font);
  margin-top: 10px;
}
.feture-head img {
  height: 70px;
}
.feature-body {
  color: var(--bgbody-font);
  margin-top: 10px;
}
/* galery */

.contact-us-arrow {
  padding-left: 200px;
  padding-right: 200px;
}
.contact-us {
  background-color: #528ea4;
  padding: 45px;
}
.contact-us .btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Gaelery End */

/* Contact-Us Start */
.contact-us {
  color: var(--bgbody-font);
}
.contact-us .btn {
  background-color: var(--bgbody-font);
  border-radius: 15px;
  padding: 10px;
  width: 60%;
  color: var(--color-biru1);
}

.contact-us h2 {
  font-weight: bold;
}
/* Contact-Us End */

/* Feature Area End */

.footer-area {
  color: var(--bgbody-font);
  font-size: 17px;
}
.footer-area .footer-logo img {
  height: 40px;
}
.footer-area .icon-footer {
  padding-top: 15px;
  display: flex;
}
.footer-area .icon-footer .left {
  margin-left: 25px;
}
.footer-area .icon-block .icon {
  margin-right: 25px;
  margin-top: 10px;
}
.footer-area .title-footer h5 {
  font-weight: bolder;
  font-size: 30px;
}

/* login */

.login {
  background-image: url(/asset/images/loginadmin.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logoadmin {
  margin-bottom: 45px;
}

.logoadmin hr {
  margin-top: -35px;
  border: 2px solid;
}

.login form {
  max-width: 500px;
  max-height: 450px;
  padding: 25px;
  border-radius: 5px;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 1);
  line-height: 25px;
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  backdrop-filter: blur(10px);
}

.login form .inputbox {
  margin-top: 15px;
  width: 100%;
  text-align: left;
}

.login button {
  width: 100%;
  border-radius: 5px;
  border: 0px;
}

.login input {
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid rgb(255, 255, 255);
  width: 100%;
  outline: none;
  color: #fff;
}

.login button {
  height: 40px;
  border: none;
  outline: none;
}

.login button:hover {
  cursor: pointer;
}
/* Admin Via HTML */

.admin-title {
  text-align: center;
  color: #fff;
}
.main-admin {
  margin-top: 25px;
}
.main-admin .add {
  margin-bottom: 25px;
}
.main-admin .edit {
  margin-bottom: 25px;
}
.main-admin .delete {
  margin-bottom: 25px;
}

.main-admin button {
  background-color: var(--bgheadertop);
  color: var(--bgbody-font);
  width: 10%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}
/* Admin Master */
.main-admin-master .add-admin-via {
  margin-bottom: 25px;
}
.main-admin-master .delete-admin-via {
  margin-bottom: 25px;
}
.main-admin-master .add-galery {
  margin-bottom: 25px;
}
.main-admin-master {
  margin-top: 25px;
}
.main-admin-master button {
  background-color: var(--bgheadertop);
  color: var(--bgbody-font);
  width: 10%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

/* Owl*/
#owl-demo .item {
  padding: 30px 0px;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
}
#owl-demo .item img {
  width: px;
}
#owl-demo button {
  height: 40px;
}

@media only screen and (max-width: 600px) {
  .feature-area {
    margin-top: -80px;
  }

  .feature-area .col-md-6 {
    margin-top: 10px;
  }

  .main {
    margin-top: 0;
  }

  .headnav {
    background-color: var(--color-biru1);
  }
  /* footer */
  .footer-area .icon-footer {
    padding-top: 15px;
    display: block;
  }
  .footer-area .footer-logo img {
    width: 150px;
  }
  .footer-area .icon-footer .left {
    margin-left: 0px;
  }
  /* footer */
  .contact-us .left {
    display: none;
  }
  .contact-us-arrow {
    padding-left: 0px;
    padding-right: 0px;
  }
  .main-admin .add .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-admin .edit .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-admin .delete .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-admin-master .add-admin-via .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-admin-master .delete-admin-via .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-admin-master .add-galery .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .feature-area {
    margin-top: -80px;
  }

  .feature-area .col-md-6 {
    margin-top: 10px;
  }

  .main {
    margin-top: 0px;
  }

  .headnav {
    background-color: var(--color-biru1);
  }

  .carosel .carousel-item p {
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .feature-area {
    margin-top: -80px;
  }

  .feature-area .col-md-6 {
    margin-top: 10px;
  }

  .main {
    margin-top: 0px;
  }

  .headnav {
    background-color: var(--color-biru1);
  }

  .carousel-item .mt-5 {
    margin-top: 1rem !important;
    font-size: 18px;
  }

  .carousel-item p {
    font-size: 12px;
  }
  .main-admin .add .container {
    padding: 15px;
    background-color: #528ea4;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .main-admin .edit .container {
    padding: 15px;
    background-color: #528ea4;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .main-admin .delete .container {
    padding: 15px;
    background-color: #528ea4;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .main-admin-master .add-admin-via .container {
    padding: 15px;
    background-color: #528ea4;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .main-admin-master .delete-admin-via .container {
    padding: 15px;
    background-color: #528ea4;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .main-admin-master .add-galery .container {
    padding: 15px;
    background-color: #528ea4;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .feature-area {
    margin-top: -80px;
  }

  .main {
    margin-top: -66px;
  }

  .headnav {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .carousel-item .mt-5 {
    margin-top: 3rem !important;
  }
  .main-admin .add .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 180px;
    padding-right: 180px;
  }
  .main-admin .edit .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 180px;
    padding-right: 180px;
  }
  .main-admin .delete .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 180px;
    padding-right: 180px;
  }

  .main-admin-master .add-admin-via .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 180px;
    padding-right: 180px;
  }
  .main-admin-master .delete-admin-via .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 180px;
    padding-right: 180px;
  }
  .main-admin-master .add-galery .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 180px;
    padding-right: 180px;
  }
}

@media only screen and (min-width: 1200px) {
  .feature-area {
    margin-top: -80px;
  }

  .main {
    margin-top: -66px;
  }

  .headnav {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .carousel-item .mt-5 {
    margin-top: 6rem !important;
  }
  .main-admin .add .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 180px;
    padding-right: 180px;
  }
  .main-admin .edit .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 180px;
    padding-right: 180px;
  }
  .main-admin .delete .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 180px;
    padding-right: 180px;
  }

  .main-admin-master .add-admin-via .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 180px;
    padding-right: 180px;
  }
  .main-admin-master .delete-admin-via .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 180px;
    padding-right: 180px;
  }
  .main-admin-master .add-galery .container {
    padding: 15px;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding-left: 180px;
    padding-right: 180px;
  }
}
